<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bonobono.springboard.vote.mapper.VoteMapper">

<!-- <resultMap type="" id=""></resultMap> -->
<!-- 보드 상세 페이지를 출력하기위해 DB에서 해당 정보를 가져온다 -->
<!-- 전체 보드 리스트를 출력하기 위해 DB에서 모든 정보를 가져온다 -->
	
	<!-- 입력 폼에서 입력한 값들을 DB에 저장 한다-->
	<insert id="insertVote"
			parameterType="com.bonobono.springboard.vote.vo.Vote">
			INSERT INTO vote(
				ip, 
				team, 
				completion, 
				ui, 
				ux,
				collaboration,
				presentation
				) 
			VALUES(
				#{ip},
				#{team},
				#{completion},
				#{ui},
				#{ux},
				#{collaboration},
				#{presentation}
				)			
	</insert>
	
	<select id="selectVoteList"
			resultType="java.util.Map">
			<!-- 리스트를 받아오는데 그걸 맵으로 받기 때문에 resultTYpe을 Map으로
				 그리고 team은 Vo에 있지만 score는 Vo에 field로 존재하지 않기 때문에
				 Map으로 받아야 한다. 
				 com.bonobono.springboard.vote.vo.Vote으로 설정해놓았다가
				 많은 시행착오를 겪었다.-->
			SELECT team, sum(completion+ui+ux+collaboration+presentation) score 
	        FROM vote 
	        GROUP BY team 
	        ORDER BY score desc
     </select>

	
	
</mapper>

